osource "c:/users/lyled/dmic/boards/shields/*/Kconfig.defconfig"
osource "c:/users/lyled/uart/boards/shields/*/Kconfig.defconfig"
osource "c:/users/lyled/ble_mic/boards/shields/*/Kconfig.defconfig"
osource "c:/users/lyled/blinky/boards/shields/*/Kconfig.defconfig"
osource "c:/users/lyled/electret/boards/shields/*/Kconfig.defconfig"
osource "c:/users/lyled/carem1/boards/shields/*/Kconfig.defconfig"
osource "C:/ncs/v2.9.0/nrf/boards/shields/*/Kconfig.defconfig"
